.Card {
    position: relative;
    background-color: white;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0px 7px 30px -10px rgba(150, 170, 180, 0.2);

    @media screen and (max-width: 450px) {
        border-radius: 0;
      }
   
}